* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
	flex-wrap:wrap;
	width:100%;
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: sticky;
    top: 0;
	overflow:hidden;
    z-index: 1000;
	display:flex;
	justify-content:space-around;
}

header .logo {
    font-size: 2rem;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
	
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
	position:relative;
    text-decoration: none;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #f4e242;
}






nav ul li a::before {
		
		
		position:absolute; 
		content:"";
		bottom:-4px;
		left:0;
		 width:10%;
	transition:all ease 0.5s;
		}
		
			
			 nav ul li a:hover::before {
		
		 border-bottom:2px solid #f4e242 ;
 width:100%;
	
	
		}





















.imgg{

justify-content:center;
align-items:center;

}

.counter ul li i{
font-size:40px;





}
.counter ul li p{

color:white;
font-weight:bold;
}
.counter ul li p.number{

font-size:40px;
font-weight:bold;
}
.counter ul li:nth-child(1){
background-image: linear-gradient(to right, red , blue);
margin-left:190px;
}
.counter ul li:nth-child(2){
background-image: linear-gradient(to right, yellow , blue);
}
.counter ul li:nth-child(3){
background-image: linear-gradient(to right, green , blue);
margin-right:190px;
}
.counter ul li:hover{
transform:scale(1.1);

}
.counter ul li{
width:33.33%;
text-align:center;
transition:0.2s linear;
height:100%;
padding:30px 0px;



}
.counter>ul{list-style-type:none;
display:flex;
top:20px;
position:relative;
}



#spinerr{background:black url("ccc.gif")no-repeat center center;
width:100%;
height:100vh;
z-index:100;
background-size:15%;
}
.container{

}
h2{
position:relative;
text-align:center;
    font-family: 'Poppins';
font-size: 20px;
color:blue;

}

*{padding:0px;
margin:0px;
box-sizing:border-box;

}

.card:hover{z-index:2;
 transform:scale(1.2);
 
 
 
 }
.card{
background-image: linear-gradient(to right, blue , green);
transition:0.2s linear;
display:inline-block;
overflow: hidden;

width:25%;
box-shadow:2px 2px 10px black;
margin:10px;

border-radius:5px;
}



.image1>img{
width:100%;
border-top-right-radius:5px;
border-top-left-radius:5px;
}

.title1{
  color:white;
text-align:center;
padding:5px;

}

.text1{
text-align:center;
color:white;
padding:5px;

}

.button1{
margin-top:10px;
color:pink;

text-align:center;
margin-bottom:15px;
cursor: pointer;


}
.button1>button{
padding:10px;
border:none;
border-radius:5%;

}
.button1>button:hover{
color:pink;
background-color:blue;


}









.section {
    padding: 2rem;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.section.active {
    opacity: 1;
    transform: translateY(0);
}

#home {
    background: #f4f4f4;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.intro h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.intro p {
    font-size: 1.2rem;
}

#about {
    background: #fff;
}

#work {
    background: #f4f4f4;
}

.work-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.work-item {
    background: #333;
    color: #fff;
    padding: 2rem;
    flex: 1 1 200px;
    margin: 1rem;
    transition: transform 0.3s ease, background 0.3s ease;
}

.work-item:hover {
    transform: scale(1.05);
    background: #444;
}

#contact {
    background: #fff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin: 0.5rem 0;
}

form input, form textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 80%;
    max-width: 500px;
}

form button {
    padding: 0.5rem 2rem;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background: #555;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

.containers {
    display: flex;
   
    justify-content: space-between;
    align-items: center;
   
   
    background-color: #fff;
  
    border-radius: 8px;
    overflow: hidden;
	
}




.text-section{

max-width:600px;
padding-left:50px;
}

.text-section h1{
font-size:3em;
letter-spacing:0.5px;
line-height:1.5em;
 font-weight: 900;
 text-transform:uppercase;
}



.text-section h3{
font-size:3.2em;
letter-spacing:0.5px;
line-height:1.5em;
 font-weight: 900;
 text-transform:uppercase;
}

.text-section p{
 font-weight: 400;




}

.text-section a{

text-decoration:none;

border:none;
border:2px dotted black;
 font-size:20px;
background-color:black;
color:orange;
border-radius:5px;
padding:10px;
 font-weight: bold;
  transition: background 0.3s ease;
}



.text-section a:hover{
 background:orange;
text-decoration:none;

border:none;
border:2px solid black;
 font-size:20px;

color:white;
border-radius:5px;
padding:10px;
 font-weight: bold;
}












.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.image-section img {
    width: 100%;
    height: auto;
    border-radius: 8px;





width:100%;


animation:MoveUpDown 2s linear infinite;

}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0px);     
  }
  50% {
    transform: translateY(-25px);   
  }
}


